/***************/
/* YOUR STYLES */
/***************/



/* Color Palette */

body {
    background-image: url("./img/bg.png");}


.color-1{background:#E8187A;}

.color-2 {background: #206E6E;}

.color-3 {background: #4CD4FF;}

.color-4 {background: #6718E8;}

.color-5 {background: grey;}


/* Textures or Patterns*/
.pattern-1 {background: url("../img/skulls.png") }

.pattern-2 {background: url("../img/stardust.png") }

.pattern-3 {background: url("../img/weather.png") }

.pattern-4 {background: url("../img/tree_bark.png") }

.pattern-5 {background: url("../img/seigaiha.png") }






/* Imagery */


/* Icons */




/* Navigation */


/* Typography */


body {font-size: 1em;}


h1 {font-family: 'Open Sans Condensed', sans-serif;}


h2 {font-size: 3em;
    font-family: 'Amatic SC', cursive;}


h3 {font-size: 2em;
    font-family: 'Amatic SC', cursive;}


p {font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;} 






