    
/*sitwide/global*/
*
{box-sizing: border-box; 
 
}

.row {margin: 10px 0;
  display: flex;

}

.col{padding: 10px;
margin:10px;
  flex: 1 0 auto;
  
  
}

/*flexbox*/

.row {background: #333;
  
  
  
  
  
  
  
}

.col {background: #ccc;
  
}



/*hover styles*/
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: darkcyan;
}



/*desktop*/
 @media screen and (max-width:1024px) {
  


body {
  background-image: url("./img/bg.png");
  
}
     .tablet, mobile
  {display: none;}
   
   .tablet 
   {display: block;}



/*tablet*/

@media screen and (max-width:1024px) {
  


body {
 background-image: url("./img/bg.png");
  
}
  .desktop, mobile
  {display: none;}
  

}




/*mobile*/

@media screen and (max-width:480px ) {
  

body {
 background-image: url("./img/bg.png");
}

  
    
    
/*sitwide/global*/
*
{box-sizing: border-box; 
 
}

.row {margin: 10px 0;
  display: flex;

}

.col{padding: 10px;
margin:10px;
  flex: 1 0 auto;
  
  
}

/*flexbox*/

.row {background-image: url("/img/bg.png");
  
  
  
  
  
  
  
}

.col {background-image: url("/img/bg.png");
  
}





    
    .col {
 
    font-size: 45px;
  font-family:'Amatic SC', cursive;
}


    
    li {font-size:20px;
font-family:'Open Sans Condensed', sans-serif;}